<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="css/front.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="contact-container">
        <span class="big-circle"></span>
        <img src="images/shape.png" class="square">
        <div class="contactus-form">
            <div class="contact-info">
                <h3 class="title">Let's get in touch</h3>
                <p class="text">
                    Have something on your mind? Drop us a message and we'll get back to your
                    as soon as possible!. We're here for help. Whether it's a question, suggestion,
                    just a hello - we'd love to hear from you.
                </p>
                <div class="info">
                    <div class="information">
                        <img src="images/location.png" class="icon">
                        <p>Karnal , Haryana </p>
                    </div>
                    <div class="information">
                        <img src="images/email.png" class="icon">
                        <p>our@gmail.com</p>
                    </div>
                    <div class="information">
                        <img src="images/phone.png" class="icon">
                        <p>903-xxx-xxxx</p>
                    </div>
                </div>
                <div class="social-media">
                    <p>Connect with us!</p>
                    <div class="social-icons">
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="contact-form">
                <span class="circle one"></span>
                <span class="circle two"></span>

                <form action="https://formsubmit.co/our@gmail.com" method="POST">
                    <h3 class="title">Contact Us</h3>
                    <div class="input-container ">
                        <input type="text " name="username" class="input">
                        <label for="">Username</label>
                        <span>Username</span>
                    </div>
                    <div class="input-container">
                        <input type="email " name="email" class="input">
                        <label for="">Email</label>
                        <span>Email</span>
                    </div>
                    <div class="input-container">
                        <input type="tel" name="phn" class="input">
                        <label for="">Phone</label>
                        <span>Phone</span>
                    </div>
                    <div class="input-container textarea">
                        <textarea name="message" class="input"></textarea>
                        <label for="">Message</label>
                        <span>Message</span>
                    </div>
                    <input type="submit" value="Send" class="send-btn">
                </form>
            </div>
        </div>
    </div>
    <script src="js/script.js"></script>
</body>
</html>